* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
header nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    display: flex;
    padding: 12px 40px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid #E5E8EB;
   
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav div {
    display: flex;
    align-items: center;
}
nav img {
    width: 30px;
    margin-right: 10px; 
}
nav span {
    font-size: 1.4rem;
    font-weight: bold;
    color: #0c0c0c;
}
header nav .links {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 36px;
}
header nav .links ul {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    align-items: flex-start;
    flex: 100;
    list-style-type: none;
} 
header nav .links ul li a {
    background: #ffffff43;
}
nav .links button {
    height: 40px;
    background:#b2e6ea;
    border-radius: 10px;  
    min-width: 84px;
    max-width: 480px;
    padding: 0px 20px;
}
main {
    padding: 30px;
}
main .home {
    width: 890px;
    height: 450px;
    margin: 50px auto;
    background-image: url(img/5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(12, 12, 7);
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
}
main .home div {
    padding: 20px;
    background-color: rgb(0, 0, 0, 0, 7);
    border-radius: 8, 7px;
}
main .home div h1 {
    font-size: 20px ;
    font-size: normal;
    font-weight: 500;
    color: #0c0c0c;
}
main .home div button {
    height: 40px;
    margin: 30px;
    background:#294648;
    border-radius: 10px;  
    min-width: 84px;
    max-width: 480px;
    padding: 0px 20px;
}
.about {
    max-width:800px;
    font-size: 22px;
    margin: 1.5rem auto;
    padding: 2rrem;
    border-radius: 12px;
}
.about h2 {
    font-size: 1.5rem;
    margin: 0 0 20px 150px ;
}
.about p {
  font-size: 1rem;
  margin: 0 0 0 150px;
}
.services {
    font-size: 22px;
    margin: 0 0 20px 150px ;
    padding: 2rrem;
    border-radius: 12px;
}
.services h2 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
.card {
    display: flex;
    justify-content: space-between;
    color: black;
}
.services .card .text h3 {
    font-size: 15px;
}
.services .card .text p{
    font-size: 15px;
}
.card .imags img {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin: 0 0 10px 0;
}
footer nav {
    display: flex;
    justify-content: center;
}
footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
footer nav ul li {
    margin-bottom: 10px;
}
footer nav ul   {
    display: flex;
    gap: 250px;
    font-size: 16px;
    justify-content: space-between;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
}
footer p {
    text-align: center;
}
/* start end*/
div.login {
    position: absolute;
    width: 50%;
    top: 25px;
    left:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
    width: 420px;

}
div.ime {
    position: absolute;
    padding: 161px;
    width: 10px;
    height: 10px;
    top: 25px;
    left:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    min-width: 100px;
    border-radius: 40px;
    
}
.ime img {
    position: absolute;
    width:526px;
    top: -135px;
    left: -78px ;
    border-radius: 70px;
    padding: 172px 91px 2px;
}

.wrapper {
    position: relative;
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, 0.986);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0 .2);
    color: rgba(240, 248, 255, 0.432);
    border-radius: 20px;
    padding: 40px 60px;
}
.wrapper  h1 {
    font-size: 36px;
    text-align: center;
    color: black;
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 283px;
    height: 100%;
    background: rgba(129, 159, 205, 0);
    border: none;
    outline: none;
    border:2px solid rgb(10, 11, 11);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 30px;
    margin: -1px 0px 0px ;
}
.input-box input:hover {
    background: rgba(136, 150, 172, 0.265);
}
.input-box input::placeholder {
    color: #ffffff;
}
.wrapper .input-bot {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-bot input {
    width: 283px;
    height: 100%;
    background: rgba(16, 78, 170, 0);
    border: none;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius:  40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 30px;
    margin: -1px 0px 0px ;
}
.input-bot input:hover {
    background: rgba(136, 150, 172, 0.265);
}
.input-bot input::placeholder {
    color: #fff;
}
.input-box i {
    position: absolute;
    top: 127px;
    left: 325px;
}
.input-bot i{
    position: absolute;
    top: 127px;
    left: 325px;
}
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.rememeber-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}
.rememeber-forgot a :hover {
    text-decoration: underline;
}
.wrapper .btn {
    width: 300px;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 50px;  
    box-shadow: 0 0 40px rgba(5, 5, 6, 0.442);
    cursor: pointer;
    font-size: 16px;
    color: #404d86;
    font-weight: 600;
}
.wrapper .register-link {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    color: black;
}
.register-link p a {
    color: #f4efef;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a :hover{
    text-decoration: underline;
}